body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
    font-weight: bold;
}
.nav-link {
    color: #222222 !important;
}

.nav-link:hover {
    color: #fe424d !important;
}
/* footer */
.f-info-links a {
    color: #222222;
    text-decoration: none;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card {
    border:none !important;
    margin-bottom:2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-body{
    padding : 0 !important;
}
.card-text {
    font-weight: 400 !important;

}
.listing-links {
    text-decoration: none;
    color: inherit;
}

/*card hover effect*/

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay{
    opacity: 0.2;
    background-color: white;
}

/*new page*/

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*edit page*/
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*show page*/
.show-img{
    height: 45vh;
}

.btns{
    display: flex;
    gap: 2rem;
}

.show-edit-btn{
    background-color: rgb(244, 244, 111) !important;
    border: none !important;
}
.show-edit-btn:hover{
    background-color: rgb(253, 253, 2) !important;
}
.show-del-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-del-btn:hover{
    background-color: #ff0000 !important;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* singup */
.btn-success {
  background-color: #28a745;       /* Bootstrap green */
  border-color: #28a745;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;             /* pill-shaped */
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
}

.btn-success:hover {
  background-color: #218838;       /* darker green on hover */
  border-color: #1e7e34;
  transform: translateY(-2px);     /* subtle lift */
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.btn-success:active {
  transform: translateY(0);        /* reset on click */
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

#map { height: 400px;  width: 45vw;}