<% layout("/layouts/boilerplate") %>

    <div class="container mt-5 mb-5">
        <div class="row w-100">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 policy-card">
                <h1 class="mb-2">Terms of Service</h1>
                <p class="policy-date">Last updated: February 27, 2026</p>

                <h4>1. Agreement to Terms</h4>
                <p>By viewing or using this website, which can be accessed at wanderlust.com, you are agreeing to be
                    bound by these website's Terms and Conditions of Use and agree that you are responsible for the
                    agreement with any applicable local laws.</p>

                <h4>2. Use License</h4>
                <p>Permission is granted to temporarily download one copy of the materials on WanderLust's website for
                    personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of
                    title.</p>
                <p>Under this license you may not:</p>
                <ul>
                    <li>modify or copy the materials;</li>
                    <li>use the materials for any commercial purpose or for any public display;</li>
                    <li>attempt to reverse engineer any software contained on WanderLust's website;</li>
                    <li>remove any copyright or other proprietary notations from the materials; or</li>
                    <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                </ul>

                <h4>3. Disclaimer</h4>
                <p>All the materials on WanderLust's website are provided "as is". WanderLust makes no warranties, may
                    it be expressed or implied, therefore negates all other warranties.</p>

                <h4>4. Limitations</h4>
                <p>WanderLust or its suppliers will not be hold accountable for any damages that will arise with the use
                    or inability to use the materials on WanderLust's website, even if WanderLust or an authorize
                    representative of this website has been notified, orally or written, of the possibility of such
                    damage.</p>

                <h4>5. Revisions and Errata</h4>
                <p>The materials appearing on WanderLust's website may include technical, typographical, or photographic
                    errors. WanderLust will not promise that any of the materials in this website are accurate,
                    complete, or current.</p>

                <h4>6. Contact</h4>
                <p>If you have any questions or suggestions about our Terms and Conditions, do not hesitate to contact
                    us at terms@wanderlust.com.</p>
            </div>
        </div>
    </div>